[submodule "vendor/zenburn"]
	path = vendor/zenburn
	url = git://github.com/bbatsov/zenburn-emacs.git
[submodule "vendor/fill-column-indicator"]
	path = vendor/fill-column-indicator
	url = git://github.com/alpaker/Fill-Column-Indicator.git
[submodule "vendor/magit"]
	path = vendor/magit
	url = git://github.com/magit/magit.git
[submodule "vendor/coffee-mode"]
	path = vendor/coffee-mode
	url = git://github.com/defunkt/coffee-mode.git
[submodule "vendor/pymacs"]
	path = vendor/pymacs
	url = git://github.com/pinard/Pymacs.git
